.otherthings {
    background-color: black;
    text-shadow: 2px 2px 2px #da2d72;
    border-bottom:5px solid #da2d72;
    padding: 30px 20px;
font-size: 2rem;
color:#fec214;
}



.otherthings h2 {
    padding: 40px 20px;
    text-align: center;
}

.otherthings h3 {
    
    padding-top: 20px;
    
    
}

.otherthings a {
   color: #fec214;
}

.otherthings a:hover {
    color: #da2d72;
    transition: color 0.2s;
 }

.contentcontainer {
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.spotify {
    border: #fec214 solid 2px;
    box-shadow: #da2d72 2px 2px 2px;
    width: 45%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.youtube {
    border: #fec214 solid 2px;
    box-shadow: #da2d72 2px 2px 2px;
    width: 45%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

iframe {
    padding:40px;
}

.quake {
    border: #fec214 solid 2px;
    box-shadow: #da2d72 2px 2px 2px;
    width: 45%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.quake img {
    width: 500px;
}

.fire {
    background-color: rgb(228, 152, 12);
}