.whatcanido {
    background-color: black;
    text-shadow: 2px 2px 2px #da2d72;
    border-bottom:5px solid #da2d72;
    padding-top: 30px;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
font-size: 2rem;
}

.whatcanido h3 {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    
}

.programminglanguages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}


.programminglanguages a {
    padding-bottom: 20px;
}



.programmingother {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.programmingother a {
    padding-bottom: 20px;
    
}

.programmingicons {
    display: flex;
    border: #fec214 solid 2px;
    box-shadow: #da2d72 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.programmingicons i {
    font-size: 5.5rem;
}
.programmingicons:hover {
    .hover {
        display: block;
    }

    .display {
        display: none;
    }
}

.hover  {
    display: none;
}



#html5:hover {
    color: #f06529 ;
    background-color: black;
    border-color: #f06529;
    text-shadow: 2px 2px #ca5523;
    box-shadow: 2px 2px #ca5523;
    transition: all 0.5s;
}

#css3:hover {
    color: #2965f1;
    background-color: black;
    border-color: #2965f1;
    text-shadow: 2px 2px #1b4096 ;
    box-shadow: 2px 2px #1b4096 ;
    transition: all 0.5s;
}

#sass:hover {
    color: #BF3F80;
    background-color: black;
    border-color: #BF3F80;
    text-shadow: 2px 2px #993266;
    box-shadow: 2px 2px #993266;
    transition: all 0.5s;
}

#js:hover {
    color: #f0db4f;
    background-color:black; 
    border-color: #f0db4f;
    text-shadow: 2px 2px #b1a139 ;
    box-shadow: 2px 2px #b1a139 ;
    transition: all 0.5s;
}

#react:hover {
    color: #61dafb ;
    border-color: #61dafb ;
    background-color: black;
    text-shadow: 2px 2px #79b6f2 ;
    box-shadow: 2px 2px #79b6f2;
    transition: all 0.5s;
}

#node:hover {
    color: #68a063 ;
    border-color: #68a063 ;
    background-color: black ;
    text-shadow: 2px 2px #42663f  ;
    box-shadow: 2px 2px #42663f  ;
    transition: all 0.5s;
}

#wordpress:hover {
    color: #21759b ;
    border-color: #154b64 ;
    background-color: black  ;
    text-shadow: 2px 2px #154b64   ;
    box-shadow: 2px 2px #154b64    ;
    transition: all 0.5s;
}

#vscode:hover {
    color: #0078d7  ;
    border-color: #0078d7   ;
    background-color: #301b32  ;
    text-shadow: 2px 2px #0058a0   ;
    box-shadow: 2px 2px #0058a0   ;
    transition: all 0.5s;
}

#indesign:hover {
    color: #ec246c  ;
    border-color: #ec246c  ;
    background-color: #301b32  ;
    text-shadow: 2px 2px #aa1b4f  ;
    box-shadow: 2px 2px #aa1b4f  ;
    transition: all 0.5s;
}

#photoshop:hover {
    color: #40D0FB ;
    border-color: #40D0FB ;
    background-color: #18152E ;
    text-shadow: 2px 2px #27829e ;
    box-shadow: 2px 2px #27829e  ;
    transition: all 0.5s;
}

#premiere:hover {
    color: #E298F2 ;
    border-color: #E298F2 ;
    background-color: #330D3E ;
    text-shadow: 2px 2px #9e69aa  ;
    box-shadow: 2px 2px #9e69aa ;
    transition: all 0.5s;
}

#vegas:hover {
    color: #13aaff ;
    border-color: #13aaff ;
    background-color: #171717 ;
    text-shadow: 2px 2px #0c6da5  ;
    box-shadow: 2px 2px #0c6da5  ;
    transition: all 0.5s;
}

#resolve:hover {
    color: #4cdeff ;
    border-color: #4cdeff ;
    background-color: #071422 ;
    border-image: linear-gradient(to bottom, #4cdeff 0%, #ff2152 50%, #adff1d 100%) 1;
    text-shadow: 2px 2px #303030  ;
    box-shadow: 2px 2px #303030  ;
    transition: all 0.5s;
}

#flstudio:hover {
    color: #e05b16 ;
    border-color: #e05b16 ;
    background-color: #212529 ;
    text-shadow: 2px 2px #8a370d   ;
    box-shadow: 2px 2px #8a370d   ;
    transition: all 0.5s;
}




@media (max-width: 1532px) {
    .whatcanido h3 {
        text-align: center;
    }
    .programminglanguages , .programmingother {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .programmingicons {
        width: 400px;
    }

    .whatcanido br {
        display: none;
    }
}